.page3{
    background-color: whitesmoke;
    padding: 20px;
}
.p3imgmain{
    display: flex;
    gap: 95px;
    margin-left:133px ;
}
.p3section{
    margin-left: 133px;
    margin-top: 100px;
}
.p3section h2{
    font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 30px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.p3section p{
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;

}
.p3img{
    width: 561;
height: 496.3559265136719;
top: 279px;
left: 113px;
angle: 0 deg;
opacity: 1;
gap: 42.79px;

}
.p3imgtext{
    width: 533.4254150390625;
height: 111.26271057128906;
angle: 0 deg;
opacity: 1;
gap: 14.26px;

}
.p3imgtext h2{
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
font-size: 22.82px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.p3imgtext p{
font-family: Avenir;
font-weight: 400;
font-style: Book;
font-size: 15.21px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}
.p3img2{
    width: 561;
height: 677.0169677734375;
angle: 0 deg;
opacity: 1;
top: 874px;
left: 113px;
gap: 42.79px;

}
.p3img3{
    width: 561.1532592773438;
height: 675.0657348632812;
angle: 0 deg;
opacity: 1;
top: 279px;
left: 769px;
gap: 42.64px;

}
.p3img4{
    width: 554;
height: 504.5186462402344;
angle: 0 deg;
opacity: 1;
top: 1050px;
left: 769px;
gap: 55.4px;

}
.p3left{
    margin-top: 73px;
    
.p3right{
    margin-top: 300px;
    margin-right: 109px;
 
}